@model IEnumerable<SearchResultProductIJGZDTO.ProductIJGZDTO>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(item => item.NombreIJGZ)
            </th>
            <th>
                @Html.DisplayNameFor(item => item.DescripcionIJGZ)
            </th>
            <th>
                @Html.DisplayNameFor(item => item.PrecioIJGZ)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreIJGZ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescripcionIJGZ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioIJGZ)
                </td>
                <td>
                    @Html.ActionLink("Modificar", "Edit", new {  id=item.Id  }) |
                    @Html.ActionLink("Ver", "Details", new {  id=item.Id  }) |
                    @Html.ActionLink("Eliminar", "Delete", new {  id=item.Id  })
                </td>
            </tr>
        }
    </tbody>
</table>